<?xml version="1.0" encoding="UTF-8"?>
<!--
  <copyright file="UserExit.wxs" company="Outercurve Foundation">
    Copyright (c) 2004, Outercurve Foundation.
    This software is released under Microsoft Reciprocal License (MS-RL).
    The license and further copyright text can be found in the file
    LICENSE.TXT at the root directory of the distribution.
  </copyright>
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <UI>
      <Dialog Id="MyUserExit" Width="370" Height="270" Title="!(loc.UserExit_Title) ([INSTALL_VERSION])">
        <Control Id="Title" Type="Text"  X="15" Y="15" Width="270" Height="44" Transparent="yes" NoPrefix="yes" Text="{\DlgTitleFont}!(loc.UserExitTitle)" />
        <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="!(loc.InstallDirDlgBannerBitmap)" />
        <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />

        <Control Id="Description1" Type="Text" X="15" Y="60" Width="340" Height="30" Transparent="yes" NoPrefix="yes" Text="!(loc.UserExitDescription1)" />
        <Control Id="Description2" Type="Text" X="15" Y="105" Width="340" Height="15" Transparent="yes" NoPrefix="yes" Text="!(loc.UserExitDescription2)" />

        <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
        <Control Id="Finish" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Cancel="yes" Text="!(loc.WixUIFinish)">
          <Publish Event="EndDialog" Value="Exit">1</Publish>
        </Control>
        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Disabled="yes" Text="!(loc.WixUICancel)" />
        <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Disabled="yes" Text="!(loc.WixUIBack)" />
      </Dialog>

      <InstallUISequence>
        <Show Dialog="MyUserExit" OnExit="cancel" Overridable="yes" />
      </InstallUISequence>

      <AdminUISequence>
        <Show Dialog="MyUserExit" OnExit="cancel" Overridable="yes" />
      </AdminUISequence>

      <UIRef Id="GlobalControls"/>
    </UI>
  </Fragment>
</Wix>